@import "variables";

.mwWidget.mwSharedMenuItem
.mwWidget.mwCheckBoxMenuItem,
.mwWidget.mwRadioButtonMenuItem,
.mwWidget.mwPopupMenuItem {
  padding: 9px 8px 9px 8px;
  white-space: nowrap;
}

.mwWidget.mwSharedMenuItem.mwHideDescription,
.mwWidget.mwCheckBoxMenuItem.mwHideDescription ,
.mwWidget.mwRadioButtonMenuItem.mwHideDescription,
.mwWidget.mwPopupMenuItem.mwFocusNode.mwHideDescription {
  padding: 5px 8px 5px 8px;
}

.mwWidget.mwSharedMenuItem.mwHideDescription .mwShortcutKeyNode,
.mwWidget.mwCheckBoxMenuItem.mwHideDescription .mwShortcutKeyNode ,
.mwWidget.mwRadioButtonMenuItem.mwHideDescription .mwShortcutKeyNode {
  top: 6px;

  max-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mwWidget.mwSharedMenuItem .mwShortcutKeyNode {
  position: absolute;
  top: 10px;
  right:5px;
}

.mwWidget.mwPopupMenuItem .mwShortcutKeyNode {
  position: static;
  margin-top: 10px;
}

.mwWidget.mwPopupMenuItem.mwHideDescription .mwShortcutKeyNode {
  margin-top: 6px;
}

.mwWidget.mwSharedMenuItem .description {
  margin-top: 2px;
}

.mwWidget.mwSharedMenuItem .mwIconNode,
.mwWidget.mwSharedMenuItem .mwCheckBox,
.mwWidget.mwSharedMenuItem .mwRadioButton {
  margin-right: 8px;
}

.mwWidget.mwSharedMenuItem.mwNoIcon .mwIconNode {
  margin-right: 0;
}

/* When there is no text and description, do not add margin on Icon Node */
.mwWidget.mwSharedMenuItem.mwHideDescription.mwHideText .mwIconNode {
  margin-right: 0;
}

/* When there is no description, text color is black */
.mwWidget.mwSharedMenuItem.mwHideDescription.mwShowTextMixin .mwTextAndDescriptionContainerNode .mwTextNode {
  color: black;
  font-weight: normal;
}

.mwWidget.mwSharedMenuItem.mwHideDescription .mwDescriptionNode,
.mwWidget.mwSharedMenuItem.mwHideText .mwTextNode,
.mwWidget.mwSharedMenuItem.mwHideShortcut .mwShortcutKeyNode,
.mwWidget.mwSharedMenuItem.mwHideIcon .mwIconNode {
  display: none;
}


.mwWidget.mwSharedMenuItem .mwIconNode,
.mwWidget.mwSharedMenuItem .mwTextAndDescriptionContainerNode,
.mwWidget.mwSharedMenuItem .mwTextContainer,
.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwShortcutKeyNode,
.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwMenuArrowNode,
.mwWidget.mwCheckBoxMenuItem .mwCheckBox,
.mwWidget.mwRadioButtonMenuItem .mwRadioButton,
.mwWidget.mwTextFieldMenuItem .mwTextField {
  display: inline-block;
  vertical-align: middle;
}

 /* To align with menuitem with icon and center*/
.mwWidget.mwCheckBoxMenuItem .mwCheckBox,
.mwWidget.mwRadioButtonMenuItem .mwRadioButton {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: -2px;
}

.mwWidget.mwSharedMenuItem .mwTextAndDescriptionContainerNode,
.mwWidget.mwCheckBoxMenuItem,
.mwWidget.mwRadioButtonMenuItem,
.mwWidget.mwPopupMenuItem {
  padding-right: 75px;
}

.mwWidget.mwSharedMenuItem .mwTextAndDescriptionContainerNode,
.mwWidget.mwCheckBoxMenuItem .mwTextAndDescriptionContainerNode,
.mwWidget.mwRadioButtonMenuItem .mwTextAndDescriptionContainerNode,
.mwWidget.mwPopupMenuItem .mwTextAndDescriptionContainerNode {
  padding-right: 75px;
}

.mwWidget.mwSharedMenuItem.mwHideShortcut .mwTextAndDescriptionContainerNode,
.mwWidget.mwCheckBoxMenuItem.mwHideShortcut .mwTextAndDescriptionContainerNode,
.mwWidget.mwRadioButtonMenuItem.mwHideShortcut .mwTextAndDescriptionContainerNode {
  padding-right: 0;
}

.mwWidget.mwPopupMenuItem.mwHideShortcut .mwTextAndDescriptionContainerNode {
  padding-right: 5px;
}



.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwShortcutAndArrowWrapperNode {
  position: absolute;
  top: 0;
  right: 5px;
}

.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwShortcutAndArrowWrapperNode .mwMenuArrowNode {
  margin-top: 7px;
}

.mwWidget.mwSharedMenuItem.mwMenuItem,
.mwWidget.mwSharedMenuItem.mwCheckBoxMenuItem,
.mwWidget.mwSharedMenuItem.mwTextFieldMenuItem,
.mwWidget.mwSharedMenuItem.mwRadioButtonMenuItem {
  position: relative;
}

.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwMenuArrowNode {
  margin-left: 5px;
}

.mwWidget.mwSharedMenuItem.mwPopupMenuItem .mwShortcutKeyNode {
  right: 7px;
}


.mwWidget.mwPopupMenuItem.mwHideShortcut.mwHideDescription .mwShortcutAndArrowWrapperNode {
  top: 2px;
}

.mwWidget.mwPopupMenuItem.mwHideShortcut .mwShortcutAndArrowWrapperNode {
  top: 5px;
}
