@import "variables";

/* focus is used instead of hover to make it work with keyboard navigation. */
.mwDefaultVisualFamily.mwWidget.mwSharedMenuItem:focus {
  background: $color-lightgray3;
}

.mwDefaultVisualFamily.mwWidget.mwMenu {
  box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.25);
}

/* TODO: should we add another class from buttons to dropDown.parentNode */
.mwWidgetPopup {
  background: rgba(250, 250, 250, 1);
  font: 12px Helvetica Neue, Helvetica, Arial, sans;
}
