/*** ReadOnly Mixin***/
.mwDefaultVisualFamily.mwWidget.mwEditablemixin.mwNonEditable,
.mwDefaultVisualFamily.mwWidget.mwEditablemixin.mwNonEditable.mwWidgetFocused {
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, 0px 1px 0px 0px rgb(255, 255, 255);
  border-color: rgb(196, 196, 196);
}