@import "variables";

.mwDefaultVisualFamily.mwListBox {
    border: 1px solid  $color-mediumgray3;
    background-color: rgb(255, 255, 255);
}

.mwDefaultVisualFamily.mwListBox .mwListItem:hover {
    background: $color-selection-row-hover;
}

.mwDefaultVisualFamily.mwListBox.mwListBoxHover {
    border-color: $color-mediumgray4;
}

.mwDefaultVisualFamily.mwListBox.mwListBoxFocused {
    border-color: $color-selection;
}

.mwDefaultVisualFamily.mwListBox .mwListItem.mwListItemSelected {
    background: $color-selection-row;
}