@import "../../../../../ui/webwidgets/src/css/webwidget.dojo.css";
@import "../../../../../ui/webwidgets/src/css/webwidget.css";
@import "preferencesDialog.css";
@import "commandWindowPrefsPanel.css";
@import "confirmationDialogsPrefsPanel.css";
@import "matlab_preferences.css";
@import "testPreferencesPage.css";
@import "generalPrefsPanel.css";