@import "variables";

/* Both drop Down and the parent should be highlighted */
.mwDefaultVisualFamily.mwWidget.mwPopupMenuItemHover {
  background: $color-lightgray3; /* Highlight color */
}

.mwDefaultVisualFamily.mwWidget.mwHasMenuOpened {
  background: $color-lightgray3;
}