@import "variables";

.mwDefaultVisualFamily.mwStatusIndicator {
  background-color: rgb(255, 255, 255);
  /*box-shadow: 0 1px 1px 0 rgb(226, 226, 226) inset, 0 1px 0 0 rgb(255, 255, 255);*/

  /*border-radius: 3px;*/
  color: darkslateblue;
  border-style: solid;
  border-width: 1px;
}

.mwWidget.mwStatusIndicator .mwArrowContainerNode {
  /*background: $color-lightgray2*/
  padding: 4px;
}

.mwWidget.mwStatusIndicator .mwArrowContainerNode:hover {
  /*background: $color-lightgray4*/
}

.mwDefaultVisualFamily.mwStatusIndicator .mwDefaultVisualFamily.mwLabel {
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 4px;
}

/*
.mwDefaultVisualFamily.mwStatusIndicator .mwDefaultVisualFamily.mwSharedMenuItem.mwMenuItem:focus {
  background: $color-selection-row-hover;  */
/* Highlight color *//*

}

.mwDefaultVisualFamily.mwStatusIndicator .mwSharedMenuItem {
  background: $color-selection-row;  */
/* Highlight color *//*

}*/
