@import "variables";


.mwDefaultVisualFamily.mwDropDownButton:not(.mwDisabled) .mwFocusNode:hover,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwButtonNode:hover,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwDropDownNode:hover,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwButtonNode:hover,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwDropDownNode:hover {

  background: $color-dropdownbutton-background-hover;

  box-shadow: $color-dropdownbutton-boxshadow-hover;
}

.mwDefaultVisualFamily.mwDropDownButton:not(.mwDisabled) .mwFocusNode:active,
.mwDefaultVisualFamily.mwDropDownButton.mwHasMenuOpened,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwButtonNode:active,
.mwDefaultVisualFamily.mwSplitButton.mwHasMenuOpened .mwDropDownNode,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwButtonNode:active,
.mwDefaultVisualFamily.mwToggleSplitButton.mwToggleSplitButtonChecked .mwButtonNode,
.mwDefaultVisualFamily.mwToggleSplitButton.mwHasMenuOpened .mwDropDownNode  {

  background: $color-dropdownbutton-background-active;

  border-color: $color-dropdownbutton-border-active;

  box-shadow: $color-dropdownbutton-boxshadow-active;
}