.mwDialog.mwModelessDialog.mwPreferencesDialogContainer {
  left:500px;
  top:150px;
  width:900px;
  height:600px;
  min-width:500px;
}

/*overriding the default 20px padding for mw-dialog*/
.mwDialog.mwPreferencesDialogContainer .mwDialogBody {
  padding: 1px;
  height: calc(100% - 73px);
  overflow: hidden;
}