.mwDefaultVisualFamily.mwWidget .mwCheckBoxMenuItem .mwOverlayNode,
.mwDefaultVisualFamily.mwWidget .mwRadioButtonMenuItem .mwOverlayNode {
  position: absolute; /* This covers the domNode */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

