#root {
	width: 900px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 600px;
    z-index: 100;
}

.mwPreferencesDialogContainer {
    height:100%
    width:100%;
}

#PreferencesDialogRootContainer {
	height:100%;
	width:100%;
}

#root .mwLayoutContainer.preferenceBorderContainer {
	width: 900px;
    height: 598px;
    left: 0px;
    top: 0px;
}



   