/* Common styles for all widgets across visual families. */

.mwWidget.mwPushButton,
.mwWidget.mwToggleButton,
.mwWidget.mwLabel,
.mwWidget.mwListBox,
.mwWidget.mwDropDownButton,
.mwWidget.mwSplitButton,
.mwWidget.mwToggleSplitButton {
  cursor: default; /* To ensure that the cursor doesn't change to text for the text portions */
}