.mwPreferencesDialogContainer .CommandWindowPreferencePanel .numericFormatContainer,
.mwPreferencesDialogContainer .CommandWindowPreferencePanel .localeContainer
.mwPreferencesDialogContainer .CommandWindowPreferencePanel .defaultDateAndTimeContainer {
	margin-bottom:4px;
}

.mwPreferencesDialogContainer .CommandWindowPreferencePanel .formatLabel {
	margin-right:5px;
}

.mwPreferencesDialogContainer .CommandWindowPreferencePanel .localeLabel {
	margin-right:116px;
}

.mwPreferencesDialogContainer .CommandWindowPreferencePanel .defaultDateOnlyLabel  {
	margin-right:23px;
}