@import "variables";

.mwDefaultVisualFamily.mwWidget.mwMenuHeader {
  color: white;
}

.mwDefaultVisualFamily.mwWidget.mwMenuHeader{
  background: linear-gradient(to bottom, #698db3 0%, #56789d 100%); /* W3C */

}

