@import "variables";

// more styles in Buttons.styl

.mwDefaultVisualFamily.mwToggleButton.mwToggleButtonHover{

    background: $color-button-background-hover;

    border-color: $color-button-border-hover;
}

.mwDefaultVisualFamily.mwToggleButton.mwToggleButtonChecked {

     background: $color-toggle-button-background-checked-normal;

     border-color: $color-toggle-button-border-checked-normal;

     box-shadow: $color-button-boxshadow-active;
}

.mwDefaultVisualFamily.mwToggleButton.mwToggleButtonChecked.mwToggleButtonHover{

    background: $color-toggle-button-background-checked-hover;

    border-color: $color-toggle-button-border-checked-hover;
}
.mwDefaultVisualFamily.mwToggleButton.mwToggleButtonChecked.mwToggleButtonActive{

    background:$color-toggle-button-background-checked-active;

    border-color: $color-toggle-button-border-checked-active;

    box-shadow: $color-toggle-button-boxshadow-active;
}