@import "variables";

// more styles in Buttons.styl

.mwDefaultVisualFamily.mwPushButton.mwPushButton {

     // in Buttons.styl
}

.mwDefaultVisualFamily.mwPushButton.mwPushButtonHover{

    background: $color-button-background-hover;
    
    border-color: $color-button-border-hover;
}
.mwDefaultVisualFamily.mwPushButton.mwPushButtonActive{

    background: $color-button-background-active;
    
    border-color: $color-button-border-active;

    box-shadow: $color-button-boxshadow-active;
}