// Defines the variables used by the .styl files in the default directory

@import "../variables";


/* ===== BUTTON STYLES ===== */
// Button Backgrounds:
$color-button-background-normal = rgb(218, 218, 218);
$color-button-background-hover = rgb(206, 206, 206);
$color-button-background-active = rgb(201, 201, 201);

// Button Borders:
$color-button-single-border-normal = rgb(182, 182, 182);
$color-button-border-normal = rgb(182, 182, 182) rgb(182, 182, 182) rgb(153, 153, 153) rgb(182, 182, 182);
$color-button-border-hover = $color-button-border-normal;
$color-button-border-active = rgb(102, 102, 102) rgb(102, 102, 102) rgb(170, 170, 170) rgb(102, 102, 102);
$value-button-border-style = solid;
$pixels-button-border-width = 1px;
$pixels-button-border-radius = 5px;

// Button Paddings:
$pixels-button-padding = 3px;

// Button Box Shadows:
$color-button-boxshadow-normal = inset 0 1px 1px 0 rgb(252, 250, 250), 0 1px 0 0 rgb(230, 230, 230);
$color-button-boxshadow-hover = inset 0 1px 1px 0 rgb(240, 240, 240), 0 1px 0 0 rgb(230, 230, 230);
$color-button-boxshadow-active = inset 0 1px 1px 0 rgb(145, 145, 145), 0 1px 0 0 rgb(255, 255, 255);
